<!DOCTYPE html>
<html lang="pt-br" ng-app="cargaInstalada">
  <head>
    <meta charset="utf-8">
    <title>Cálculo de Carga</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet/less" href="assets/css/main.less" charset="utf-8">
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/jspdf/dist/jspdf.min.js"></script>
    <script src="bower_components/less/dist/less.js"></script>
    <!-- endbower -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers/EquipamentosController.js"></script>
  </head>
  <body ng-controller="EquipamentosController">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Cálculo de Carga</h1>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-lg-12">
          <form action="#" class="form-horizontal hidden-print" name="form" ng-submit="adicionaEquipamento()">
            <div class="row">
              <fieldset class="col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3>Equipamento</h3>
                  </div>
                  <div class="panel-body">
                    <label for="inputNome">{{ label.nome }}</label>
                    <input type="text" class="form-control" id="inputNome" ng-model="inputNome" required>
                    <label for="inputPotUnit">{{ label.potUnit }}</label>
                    <input type="number" class="form-control" id="inputPotUnit" ng-model="inputPotUnit" min="1" required>
                    <label for="inputQtde">{{ label.qtde }}</label>
                    <input type="number" class="form-control" id="inputQtde" ng-model="inputQtde" min="1" required>
                  </div>
                </div>
              </fieldset>
              <fieldset class="col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3>{{ label.hdu }} (<abbr title="Horas">h</abbr>)</h3>
                  </div>
                  <div class="panel-body">
                    <label for="inputHduPonta">{{ label.Ponta }}</label>
                    <input type="number" class="form-control" id="inputHduPonta" ng-model="inputHduPonta" min="1" required>
                    <label for="inputHduFPonta">{{ label.FPonta }}</label>
                    <input type="number" class="form-control" id="inputHduFPonta" ng-model="inputHduFPonta" min="1" required>
                  </div>
                </div>
              </fieldset>
              <!-- <fieldset class="col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3>{{ label.cd }} (<abbr title="Horas">h</abbr>)</h3>
                  </div>
                  <div class="panel-body">
                    <label for="inputCdPonta">{{ label.Ponta }}</label>
                    <input type="number" class="form-control" id="inputCdPonta" ng-model="inputCdPonta" min="1" required>
                    <label for="inputCdFPonta">{{ label.FPonta }}</label>
                    <input type="number" class="form-control" id="inputCdFPonta" ng-model="inputCdFPonta" min="1" required>
                  </div>
                </div>
              </fieldset> -->
            </div>
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus-sign" title="Apagar item" aria-hidden="true"></span> Adicionar equipamento
            </button>
            <button type="button" name="salvaPDF" id="salvaPDF" class="btn" onClick="javascript:window.print();">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir
            </button>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12" id="elementos">
          <table class="table table-striped table-hover" ng-show="equipamentos.length">
            <colgroup span="1" style="border: 1px solid #eee;"></colgroup>
            <colgroup span="4" style="border: 1px solid #eee;"></colgroup>
            <colgroup span="3" style="border: 1px solid #eee;"></colgroup>
            <colgroup span="3" style="border: 1px solid #eee;"></colgroup>
            <thead>
              <tr>
                <th class="hidden-print"></th>
                <th colspan="4">{{ label.equipamento }}</th>
                <th colspan="3">{{ label.hdu }}</th>
                <th colspan="3">{{ label.cd }}</th>
              </tr>
              <tr>
                <th class="hidden-print"></th>
                <!-- <th></th> -->
                <th>{{ label.nome }}</th>
                <th>{{ label.potUnit }}</th>
                <th>{{ label.qtde }}</th>
                <th>{{ label.potTotal }}</th>
                <th>{{ label.Ponta }}</th>
                <th>{{ label.FPonta }}</th>
                <th>{{ label.Total }}</th>
                <th>{{ label.Ponta }}</th>
                <th>{{ label.FPonta }}</th>
                <th>{{ label.Total }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="eqp in equipamentos">
                <td class="text-center hidden-print">
                  <button class="btn btn-xs btn-danger" ng-click="apagaEquipamento($index)">
                    <span class="glyphicon glyphicon-trash" title="Apagar item" aria-hidden="true"></span>
                  </button>
                </td>
                <!-- <td>{{ eqp.id }}</td> -->
                <td class="text-left">{{ eqp.nome }}</td>
                <td class="text-center">{{ eqp.potUnit }}</td>
                <td class="text-center">{{ eqp.qtde }}</td>
                <td class="text-center">{{ eqp.potTotal }}</td>
                <td class="text-center">{{ eqp.hduPonta }}</td>
                <td class="text-center">{{ eqp.hduFPonta }}</td>
                <td class="text-center">{{ eqp.hduTotal }}</td>
                <td class="text-center">{{ eqp.cdPonta }}</td>
                <td class="text-center">{{ eqp.cdFPonta }}</td>
                <td class="text-center">{{ eqp.cdTotal }}</td>
              </tr>
              <tr>
                <th class="hidden-print"></th>
                <th colspan="3"></th>
                <th>{{ potUnitTotal }}</th>
                <th colspan="2"></th>
                <th>{{ hduTotal}}</th>
                <th>{{ cdPonta }}</th>
                <th>{{ cdFPonta }}</th>
                <th>{{ cdTotal }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
